body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-container{
    display: flex;
    width: 1000px;
}
.r-side-card{
    display: flex;
    flex-direction: column;
    width: 580px;
    padding: 20px 42px;
}
.card-img{
    width: 400px;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
}
.author-card{
    display: flex;
    align-items: center;
}
.author-card img{
    width: 50px;
    border-radius: 50%;
}
.share-popup{
    display: none;
}