body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-container{
    display: flex;
    width: 1000px;
    height: 365px;
    border-radius: 10px;
    box-shadow: 0 17px 45px 0 #cbdae9;
}
.r-side-card{
    display: flex;
    flex-direction: column;
    width: 580px;
    padding: 20px 42px;
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.r-side-card h1{
    font-size: 25px;
    width: 400px;
    color: hsl(217, 19%, 35%);
}
.card-img{
    width: 400px;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.author-card{
    display: flex;
    align-items: center;
}
.author-card img{
    width: 50px;
    border-radius: 50%;
}
.share-popup{
    display: none;
}