body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-container{
    display: flex;
    width: 700px;
}
.r-side-card{
    display: flex;
    flex-direction: column;
}
.card-img img{
    width: 200px;
}
.author-card{
    display: flex;
    align-items: center;
}
.author-card img{
    width: 50px;
    border-radius: 50%;
}
.share-popup{
    display: none;
}